h1 {

	text-align: center;	

}

h3 { 
	text-align: center;
}
table {
	margin-left: auto;
	margin-right: auto;
}
body {
	background-color: #ADD8E6;
}

p {
	font-family: Serif;
	text-align:center;
	font-size: 2em;
}
h5 {
	text-align:center;
}